/* || FOR TESTING PURPOSES ONLY */

/* header {
  border-style: dashed;
  border-color: blue;
}

header > div,
header > nav {
  border-style: dashed;
  border-color: green;
}

nav > a {
  border-style: dashed;
  border-color: yellow;
} */

/* main {
  border-style: dashed;
  border-color: blue;
}

main > section {
  border-style: dashed;
  border-color: green;
}

#landing-section > div {
  border-style: dashed;
  border-color: yellow;
}

#landing-section > div > p {
  border-style: dashed;
  border-color: blue;
}

#landing-section > svg {
  border-style: dashed;
  border-color: yellow;
} */

footer {
  border-style: dashed;
  border-color: blue;
}

img {
  display: block;
}

/* || GENERAL STYLES */

a {
  text-decoration-color: transparent;
  text-underline-offset: 5px;
  color: black;
}

/* || BODY */

body {
  /* background image */
  background-image: url(cropped-gradient-background.png);
  background-repeat: no-repeat;
  background-size: cover;

  /* Flex Container */
  display: flex;
  flex-direction: column;

  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* || HEADER */

header {
  /* flex container */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  font-size: 20px;

  height: 5vh;
  box-sizing: border-box;
}

#header-full-name-div {
  margin-right: 40vw;
  font-weight: 600; /*idk if I want it slightly bolded*/
  letter-spacing: 0.75px;
}

#header-nav {
  display: flex;
  flex-direction: row;
}

#header-nav > a {
  margin-left: 50px;
  font-size: 15px;
  transition: text-decoration 0.4s ease;
}

#header-nav > a:hover {
  text-decoration-color: black;
}

/* || MAIN */

#landing-section {
  /* ensures landing section is always the same height as the screen */
  height: 95vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

#landing-section p {
  margin: 0;
  padding: 10px;
}

#landing-section svg {
  padding: 10px;
}

#landing-section > div > p:first-child {
  font-size: 20px;
  /* font-weight: 600; */
}

#landing-section > div > p:nth-child(2) {
  font-size: 60px;
  font-weight: 600;
}

#down-caret {
  position: absolute;
  bottom: 0%;
}

#landing-section > div > p:nth-child(4) {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
}
#landing-section > div > p:nth-child(5) {
  font-size: 20px;
  font-weight: 400;
}

#landing-section > div > p > a {
  font-size: 20px;
  font-weight: 400;
  text-underline-offset: 10px;
  transition: color, text-decoration 0.4s ease;
}

#landing-section > div > p > a:hover {
  text-decoration-color: rgba(0, 0, 0, 0.255);
  color: rgba(0, 0, 0, 0.69);
}

/* || FOOTER */

footer {
  background-color: rgb(244, 244, 244);
  /* margin-top: auto; */
}
