/* || GENERAL STYLES */

a {
  text-decoration-color: transparent;
  text-underline-offset: 5px;
  color: black;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #393636;
}

img {
  display: block;
}

/* || LANDING IMAGE*/

body {
  /* background image */
  background-repeat: no-repeat;
  background-size: 100% auto;

  /* TODO: add media query for when screen size increases */

  /* Flex Container */
  display: flex;
  flex-direction: column;
}

/* || LANDING SECTION - Work*/

#landing-section {
  /* ensures landing section is always the same height as the screen */
  height: 95vh;
  box-sizing: border-box;
  margin-bottom: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  @media screen and (min-width: 1505px) {
    margin-bottom: 450px;
  }
}


/* || HEADER */

header {
  /* flex container */
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;

  height: 5vh;
  width: 90%;
  max-width: 1480px;
  padding: 25px 20px;
  margin: 5px auto 0 auto;

  font-size: 18px;

  /* background: rgba(255, 255, 255, 0.4); */
  border-radius: 10px;
}

#header-full-name-div {
  margin-right: 40vw;
  font-weight: 600; /*idk if I want it slightly bolded*/
  letter-spacing: 0.75px;
}

#header-nav {
  display: flex;
  flex-direction: row;
}

#header-nav > a {
  margin-left: 50px;
  font-size: 15px;
  transition: text-decoration 0.4s ease;
}

#header-nav > a:hover {
  text-decoration-color: black;
}

/* || FOOTER */

footer {
  background-color: rgba(215, 223, 243, 0.6);
  padding: 30px 10% 30px 10%;

  @media screen and (min-width: 1505px) {
    padding: 0 18% 0 18%;
  }
}

footer > p {
  color: black;
  font-size: 20px;
  font-weight: 600;

  text-decoration: underline;
  text-decoration-color: #92a9e4;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

footer > p {
  margin-top: 30px;
}

footer .info-blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

footer .info-blocks > div > p:nth-child(1) {
  color: #737373;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

footer .info-blocks > div > p:nth-child(2) {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

footer a {
  transition: color, text-decoration 0.4s ease;
}

footer a:hover {
  text-decoration-color: #92a9e4;
  color: #6881c1;
}

/* || MINI GRADIENT */

.mini-gradient {
  position: absolute;
  z-index: -1; /* Place the second image behind the container */
}
